body {
    background-color : rgb(103, 109, 103);

}
h1 {
    color: red;
    text-align: center;
    font-family: cursive;
    font-size: 50px;
}
p {
    text-align:center;
    font-size: 25px;;
    border-style: dashed ;
}
span {
    font-size: 20px;
    
}